<%- include('../partial/navbar') %>

 <!-- Featured Start -->
 <div class="container-fluid pt-4">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h6 class="font-weight-semi-bold m-0">Sifatli Mahsulotlar</h6>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h6 class="font-weight-semi-bold m-0">O'zbekiston bo'ylab yetkazib berish</h6>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h6 class="font-weight-semi-bold m-0">7 kun ichida mahsulotni qaytarish</h6>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h6 class="font-weight-semi-bold m-0">24/7 Aloqa</h6>
            </div>
        </div>
    </div>
</div>
<!-- Featured End -->


<!-- Categories Start -->
<div class="container-fluid pt-4">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Katalog</span></h2>
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="/keyboards">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="/image/a634bfc0094f8e823e73fde5ac38a5fb.jpeg" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Klaviaturalar</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="/mouses">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="/image/dd96de6332828a3957f2ea9a120d7e54.jpeg" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Sichqonchalar</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="/screens">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="/image/fd431aa959e0f1d6dd373615724db49c.jpg" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Monitorlar</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="/microphones">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="/image/607a6e9285797097c2cb54ec9740b244.jpg" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Mikrofonlar</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="/headphones">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="/image/c40d6bfc06c6c4128b2ea30db2ea6239.jpeg" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Quloqchinlar</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="/chairs">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="/image/9b2f206049414540fcee05c54e213a9e.jpg" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Stullar</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="/desks">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="/image/9a39fbd4b2a8700d28f2c9ef47987860.jpg" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Stollar</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="/others">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="/image/075fee8f2618cffc7a597e0220bf19c7.jpg" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Boshqa mahsulotlar</h6>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Categories End -->


<!-- Products Start -->
    <a href="/keyboards">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Klaviaturalar</span></h2>
    </a>
    <div class="col-lg-9 col-md-8 ml-4">
        <div class="row pb-3">
            <% keyboard.forEach(item => { %>
            <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">   
                        <a href="/show/<%= item.id %>"><img class="img-fluid w-100" src="/image/<%= item.img %>" alt="*_*"></a>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="/show/<%= item.id %>"><%= item.title %></a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5><%= item.buy_cost %>.000 uzs</h5><h6 class="text-muted ml-2"><del><%= item.cost %>.000 uzs</del></h6>
                        </div>  
                        <div>
                            <button class="btn btn-outline-dark btn-square add-to-cart" style="margin-left: 80%;" data-id="<%= item._id %>"><i class="fa fa-shopping-cart"></i></button>
                        </div>                     
                    </div>
                </div>
            </div>                        
            <% }) %>
        </div>
    </div>

    <a href="/mouses">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Sichqonchalar</span></h2>
    </a>
    <div class="col-lg-9 col-md-8 ml-4">
        <div class="row pb-3">
            <% mouse.forEach(item => { %>
            <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">   
                        <a href="/show/<%= item.id %>"><img class="img-fluid w-100" src="/image/<%= item.img %>" alt="*_*"></a>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="/show/<%= item.id %>"><%= item.title %></a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5><%= item.buy_cost %>.000 uzs</h5><h6 class="text-muted ml-2"><del><%= item.cost %>.000 uzs</del></h6>
                        </div>  
                        <div>
                            <button class="btn btn-outline-dark btn-square add-to-cart" style="margin-left: 80%;" data-id="<%= item._id %>"><i class="fa fa-shopping-cart"></i></button>
                        </div>                     
                    </div>
                </div>
            </div>                        
            <% }) %>
        </div>
    </div>

    <a href="/screens">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Monitorlar</span></h2>
    </a>
    <div class="col-lg-9 col-md-8 ml-4">
        <div class="row pb-3">
            <% screen.forEach(item => { %>
            <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">   
                        <a href="/show/<%= item.id %>"><img class="img-fluid w-100" src="/image/<%= item.img %>" alt="*_*"></a>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="/show/<%= item.id %>"><%= item.title %></a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5><%= item.buy_cost %>.000 uzs</h5><h6 class="text-muted ml-2"><del><%= item.cost %>.000 uzs</del></h6>
                        </div>  
                        <div>
                            <button class="btn btn-outline-dark btn-square add-to-cart" style="margin-left: 80%;" data-id="<%= item._id %>"><i class="fa fa-shopping-cart"></i></button>
                        </div>                     
                    </div>
                </div>
            </div>                        
            <% }) %>
        </div>
    </div>

    <a href="/mocrophones">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Mikrofonlar</span></h2>
    </a>   
    <div class="col-lg-9 col-md-8 ml-4">
        <div class="row pb-3">
            <% microphone.forEach(item => { %>
            <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">   
                        <a href="/show/<%= item.id %>"><img class="img-fluid w-100" src="/image/<%= item.img %>" alt="*_*"></a>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="/show/<%= item.id %>"><%= item.title %></a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5><%= item.buy_cost %>.000 uzs</h5><h6 class="text-muted ml-2"><del><%= item.cost %>.000 uzs</del></h6>
                        </div>  
                        <div>
                            <button class="btn btn-outline-dark btn-square add-to-cart" style="margin-left: 80%;" data-id="<%= item._id %>"><i class="fa fa-shopping-cart"></i></button>
                        </div>                     
                    </div>
                </div>
            </div>                        
            <% }) %>
        </div>
    </div>


    <a href="/headphones">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Quloqchinlar</span></h2>
    </a>
    <div class="col-lg-9 col-md-8 ml-4">
        <div class="row pb-3">
            <% headphone.forEach(item => { %>
            <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">   
                        <a href="/show/<%= item.id %>"><img class="img-fluid w-100" src="/image/<%= item.img %>" alt="*_*"></a>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="/show/<%= item.id %>"><%= item.title %></a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5><%= item.buy_cost %>.000 uzs</h5><h6 class="text-muted ml-2"><del><%= item.cost %>.000 uzs</del></h6>
                        </div>  
                        <div>
                            <button class="btn btn-outline-dark btn-square add-to-cart" style="margin-left: 80%;" data-id="<%= item._id %>"><i class="fa fa-shopping-cart"></i></button>
                        </div>                     
                    </div>
                </div>
            </div>                        
            <% }) %>
        </div>
    </div>

    <a href="/chairs">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Stullar</span></h2>
    </a>    
    <div class="col-lg-9 col-md-8 ml-4">
        <div class="row pb-3">
            <% chair.forEach(item => { %>
            <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">   
                        <a href="/show/<%= item.id %>"><img class="img-fluid w-100" src="/image/<%= item.img %>" alt="*_*"></a>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="/show/<%= item.id %>"><%= item.title %></a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5><%= item.buy_cost %>.000 uzs</h5><h6 class="text-muted ml-2"><del><%= item.cost %>.000 uzs</del></h6>
                        </div>  
                        <div>
                            <button class="btn btn-outline-dark btn-square add-to-cart" style="margin-left: 80%;" data-id="<%= item._id %>"><i class="fa fa-shopping-cart"></i></button>
                        </div>                     
                    </div>
                </div>
            </div>                        
            <% }) %>
        </div>
    </div>

    <a href="/desks">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Stollar</span></h2>
    </a>    
    <div class="col-lg-9 col-md-8 ml-4">
        <div class="row pb-3">
            <% desk.forEach(item => { %>
            <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">   
                        <a href="/show/<%= item.id %>"><img class="img-fluid w-100" src="/image/<%= item.img %>" alt="*_*"></a>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="/show/<%= item.id %>"><%= item.title %></a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5><%= item.buy_cost %>.000 uzs</h5><h6 class="text-muted ml-2"><del><%= item.cost %>.000 uzs</del></h6>
                        </div>  
                        <div>
                            <button class="btn btn-outline-dark btn-square add-to-cart" style="margin-left: 80%;" data-id="<%= item._id %>"><i class="fa fa-shopping-cart"></i></button>
                        </div>                     
                    </div>
                </div>
            </div>                        
            <% }) %>
        </div>
    </div>
    <a href="/others">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Boshqa Mahsulotlar</span></h2>
    </a>    
    <div class="col-lg-9 col-md-8 ml-4">
        <div class="row pb-3">
            <% other.forEach(item => { %>
            <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">   
                        <a href="/show/<%= item.id %>"><img class="img-fluid w-100" src="/image/<%= item.img %>" alt="*_*"></a>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="/show/<%= item.id %>"><%= item.title %></a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5><%= item.buy_cost %>.000 uzs</h5><h6 class="text-muted ml-2"><del><%= item.cost %>.000 uzs</del></h6>
                        </div>  
                        <div>
                            <button class="btn btn-outline-dark btn-square add-to-cart" style="margin-left: 80%;" data-id="<%= item._id %>"><i class="fa fa-shopping-cart"></i></button>
                        </div>                     
                    </div>
                </div>
            </div>                        
            <% }) %>
            </div>
            </div>
            </div>
        </div>

<!-- Products End -->
<script src="/js/P.H.S.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>  

<%- include('../partial/footer') %>
